<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
		<rewrite>
			<rules>

				
				<!-- single entry -->
				<rule name="Rewrite single folders to php/symaPresence.php with one field">
				  <match url="^s/([_0-9a-z-]+)/$" />
				  <action type="Rewrite" url="php/sv01.php?uuidsubscription={R:1}" />
				</rule>

				<!-- dual entry -->
				<rule name="Rewrite double folders to php/symaPresence.php with both fields">
				  <match url="^s/([_0-9a-z-]+)/([_0-9a-z-]+)/" />
				  <action type="Rewrite" url="php/sv01.php?uuidsubscription={R:1}&amp;uuidmessage={R:2}" />
				</rule>

			</rules>
		  </rewrite>
		<staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".m4v" />
            <mimeMap fileExtension=".m4v" mimeType="audio/mv4" />
			<remove fileExtension=".flac" />
            <mimeMap fileExtension=".flac" mimeType="audio/flac" />
			<remove fileExtension=".ogg" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
			<remove fileExtension=".m4a" />
            <mimeMap fileExtension=".m4a" mimeType="audio/m4a" />
			<remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
	</system.webServer>
	<system.web>
	  <customErrors mode="Off" />
	</system.web>
</configuration>